
//FONT
$font-size: 1.6rem;
$font-main: "RobotoRegular", sans-serif;
$font-bold: "RobotoBold", sans-serif;
$font-pf: "PFCentroSlabProBold", sans-serif;

// COLORS
$black: #000;
$white: #fff;
$violet-color: #b642e3;
$blue-light-color: #6a65f2;
$orange-color: #fb9287;
$orange-dark-color: #ec667c;
$text: #7F7FA8;
$form-bg: #373656;
$form-input-bg: #4C4C72;

// Customization Bootstrap vars from "app/libs /bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;